<form class="sort-interns-form">
    <mat-form-field>
      <mat-label>Sort in:</mat-label>
      <mat-select name="ascending" matSelect [(ngModel)]="ascending">
        <mat-option [value]="true">
          Ascending
        </mat-option>
        <mat-option [value]="false">
          Descending
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="sendAscending()">Sort</button>
  </form>
  <form class="select-date-format">
    <mat-form-field>
      <mat-label>Select date format:</mat-label>
      <mat-select name="selectedDateFormat" matSelect [(ngModel)]="selectedDateFormat">
        <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat">
          {{dateFormat}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="sendDateFormat()">Apply date filter</button>
  </form>