<div class="intern-container">
  <div class="intern" *ngFor="let intern of interns">
    <mat-card class="intern">
      <mat-card-header>
        <mat-card-title class="card-title">
          Id: {{intern.id}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          Name:
          {{intern.firstName}}
          {{intern.lastName}}
        </p>
        <p>
          Date of birth:
          {{intern.dateOfBirth | date: dateFormat }}
        </p>
      </mat-card-content>
      <mat-card-actions class="card-buttons">
        <div>
          <button mat-icon-button [routerLink]="['edit-intern/', intern.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteIntern(intern.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="add-intern intern">
    <button mat-icon-button routerLink="/add-intern">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<app-filters
(ascendingChanged)="sortInterns($event)"
(dateFormatChanged)="getDateFormat($event)"
></app-filters>
