<form [formGroup]="addInternForm" class="add-intern-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field-custom">
        <input matInput formControlName="firstName" placeholder="First name"/>
        <div *ngIf="addInternForm.get('firstName').invalid && addInternForm.get('firstName').touched">
            First name is required
        </div>
    </mat-form-field>
    <mat-form-field class="form-field-custom">
        <input matInput formControlName="lastName" placeholder="Last name"/>
        <div *ngIf="addInternForm.get('lastName').invalid && addInternForm.get('lastName').touched">
            Last name is required
        </div>
    </mat-form-field>
    <mat-form-field class="form-field-custom">
        <input matInput formControlName="dateOfBirth" placeholder="yy-mm-dd"/>
        <div *ngIf="addInternForm.get('dateOfBirth').invalid && addInternForm.get('dateOfBirth').touched">
            Date of birth is required
        </div>
    </mat-form-field>
    <button mat-button>Add</button>
</form>